<div id="accordion" class="mb-5">
    <a class="row border mt-2 rounded py-1" data-toggle="collapse" href="#collapseOne">
        <div class="product-widget col-md-1">
            <div class="product-img rounded-circle mx-3">
                <img src="../../../../assets/product01.png" alt="">
            </div>
        </div>
        <div class="col-md-4 py-3 ">
            <h6>Order Number:<strong>123123123</strong></h6>
        </div>
        <div class="col-md-4 py-3 ">
            <h6><strong>24.02.2020 22.14.00</strong></h6>
        </div>
        <div class="col-md-3 py-3">
            <h6 class="price tex-center">800.00 $</h6>
        </div>
    </a>
    <div id="collapseOne" class="collapse bg-light border rounded" data-parent="#accordion">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>QTY</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="../../../../assets/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <div class="pt-2">
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6 class="pt-2">1</h6>
                    </td>
                    <td>
                        <h6 class="price pt-2">980.00 $</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="../../../../assets/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <div class="pt-2">
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6 class="pt-2">1</h6>
                    </td>
                    <td>
                        <h6 class="price pt-2">980.00 $</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="../../../../assets/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <div class="pt-2">
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6 class="pt-2">1</h6>
                    </td>
                    <td>
                        <h6 class="price pt-2">980.00 $</h6>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a class="row border mt-2 rounded py-1" data-toggle="collapse" href="#collapseTwo">
        <div class="product-widget col-md-1">
            <div class="product-img rounded-circle border mx-3">
                <img src="../../../../assets/product01.png" alt="">
            </div>
        </div>
        <div class="col-md-4 py-3 ">
            <h6>Order Number:<strong>123123123</strong></h6>
        </div>
        <div class="col-md-4 py-3 ">
            <h6>Order date:<strong>24.02.2020 22.14.00</strong></h6>
        </div>
        <div class="col-md-3 py-3">
            <h6 class="price tex-center">800.00 $</h6>
        </div>
    </a>
    <div id="collapseTwo" class="collapse bg-light border rounded" data-parent="#accordion">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>QTY</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="../../../../assets/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <div class="pt-2">
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6 class="pt-2">1</h6>
                    </td>
                    <td>
                        <h6 class="price pt-2">980.00 $</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="../../../../assets/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <div class="pt-2">
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6 class="pt-2">1</h6>
                    </td>
                    <td>
                        <h6 class="price pt-2">980.00 $</h6>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="../../../../assets/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <div class="pt-2">
                                    <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                    <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <h6 class="pt-2">1</h6>
                    </td>
                    <td>
                        <h6 class="price pt-2">980.00 $</h6>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>