<body>
        <header>
                <!-- MAIN HEADER -->
                <div id="header">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">
                            <!-- LOGO -->
                            <div class="col-lg-3">
                                <div class="header-logo">
                                    <a href="#" class="logo">
                                        <img src="../../../assets/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <!-- /LOGO -->
            
                            <!-- SEARCH BAR -->
                            <div class="col-lg-6">
                                <div class="header-search">
                                    <form class="form-inline">
                                        <span class="fa fa-search form-control-feedback"></span>
                                        <input class="input" placeholder="  Search for anything">
                                        <button class="search-btn">Search</button>
                                    </form>
                                </div>
                            </div>
                            <!-- /SEARCH BAR -->
            
                            <!-- ACCOUNT -->
                            <div class="col-lg-3 clearfix d-flex justify-content-center">
                                <div class="header-ctn d-flex">
                                    <!-- Wishlist -->
                                    <div>
                                        <a href="#">
                                            <i class="far fa-heart"></i>
                                            <span>Your Wishlist</span>
                                            <div class="qty">2</div>
                                        </a>
                                    </div>
                                    <!-- /Wishlist -->
            
                                    <!-- Cart -->
                                    <div class="dropdown">
                                            <a class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-shopping-cart"></i>
                                                <span>Your Cart</span>
                                                <div class="qty">3</div>
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <div class="cart-list">
                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src="../../../assets/product01.png" alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                            <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                                        </div>
                                                        <button class="delete"><i class="fa fa-close"></i></button>
                                                    </div>
                                                    <hr>
                                                    <div class="product-widget">
                                                        <div class="product-img">
                                                            <img src="../../../assets/product01.png" alt="">
                                                        </div>
                                                        <div class="product-body">
                                                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                            <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                                        </div>
                                                        <button class="delete"><i class="fa fa-close"></i></button>
                                                    </div>
                                                </div>
                                                <div class="cart-summary">
                                                    <small>3 Item(s) selected</small>
                                                    <h5>SUBTOTAL: $2940.00</h5>
                                                </div>
                                                <div class="cart-btns">
                                                    <a href="#">View Cart</a>
                                                    <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    <!-- /Cart -->
            
            
                                    <!-- User -->
                                    <div>
                                        <a href="#">
                                            <i class="far fa-user"></i>
                                            <span>Your Account</span>
                                            <div class="qty">2</div>
                                        </a>
                                    </div>
                                    <!-- /User -->
            
                                    <!-- Menu Toogle -->
                                    <div class="menu-toggle">
                                        <a href="#">
                                            <i class="fa fa-bars"></i>
                                            <span>Menu</span>
                                        </a>
                                    </div>
                                    <!-- /Menu Toogle -->
                                </div>
                            </div>
                            <!-- /ACCOUNT -->
                        </div>
                        <!-- row -->
                    </div>
                    <!-- container -->
                </div>
                <!-- /MAIN HEADER -->
            </header>
</body>