<div class="container" id="navbar">
        <ul class="nav nav-tabs">
            <li class="nav-item m-auto"><a class="nav-link active" data-toggle="tab" href="#account"><span class="fa fa-user"></span> Account</a></li>
            <li class="nav-item m-auto"><a class="nav-link" data-toggle="tab" href="#orders"><span class="fas fa-shopping-cart"></span> Orders</a></li>
            <li class="nav-item m-auto"><a class="nav-link" data-toggle="tab" href="#adresses"><span class="fas fa-map-marker-alt"></span> Adresses</a></li>
            <li class="nav-item m-auto"><a class="nav-link" data-toggle="tab" href="#wishlist"><span class="fas fa-heart"></span> Wishlist</a></li>
            <li class="nav-item m-auto"><a [routerLink]="" (click)="logout()"><span class="fas fa-sign-out-alt"></span> Logout</a></li>
        </ul>
</div>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container active" id="account"><app-account></app-account></div>
    <div class="tab-pane container fade" id="orders"><app-orders></app-orders></div>
    <div class="tab-pane container fade" id="adresses"><app-adresses></app-adresses></div>
    <div class="tab-pane container fade" id="wishlist"><app-wishlist></app-wishlist></div>
</div>








