<!-- container -->
<div class="container">
    <!-- row -->
    <div class="row">
        <div class="col-md-7">
            <!-- Billing Details -->
            <div class="login-form">
                <div class="section-title">
                    <h3 class="title">Shipping address</h3>
                </div>
                <div class="form-group relative mt-4">
                    <input class="form-control input-lg" placeholder="Full Name" type="text" />
                    <i class="log-ico fas fa-id-card"></i>
                </div>
                <div class="form-group relative mt-4">
                    <input class="form-control input-lg" placeholder="Adress" type="text" />
                    <i class="log-ico fas fa-map-marked"></i>
                </div>
                <div class="form-group relative mt-4">
                    <input class="form-control input-lg" placeholder="City" type="text" />
                    <i class="log-ico fas fa-city"></i>
                </div>
                <div class="form-group relative mt-4">
                    <input class="form-control input-lg" placeholder="Country" type="text" />
                    <i class="log-ico fas fa-flag"></i>
                </div>
                <div class="form-group relative mt-4">
                    <input class="form-control input-lg" placeholder="Zip Code" type="text" />
                    <i class="log-ico fas fa-home"></i>
                </div>
                <div class="form-group relative mt-4">
                    <input class="form-control input-lg" placeholder="Phone" type="text" />
                    <i class="log-ico fas fa-phone"></i>
                </div>


                <div class="form-group mt-4">
                    <button class="btn-lg btn-block lgn-btn" type="submit" (click)="update(updateAdress)">
                        Update
                    </button>
                </div>
            </div>
            <!-- /Billing Details -->
        </div>
    </div>
    <!-- /row -->
</div>
<!-- /container -->